<div ng-include="'templates/navbar-header.html'"></div>
<h2 style="text-align: center;">Friend Requests</h2>
<div ng-repeat="friendRequest in friendRequests" style="display: inline-block; margin: 10px;">
    <div class="image-container">
        <img class="thumbnail" ng-src="{{friendRequest.user.profileImageData}}"/>
    </div>
    <p>Username: {{friendRequest.user.username}}</p>
    <p>Name: {{friendRequest.user.name}}</p>
    <p>Gender: {{friendRequest.user.gender | genderFilter}}</p>
    <button type="button" class="btn btn-primary" ng-click="acceptRequest(friendRequest.id)">Accept</button>
    <button type="button" class="btn btn-primary" ng-click="rejectRequest(friendRequest.id)">Reject</button>
</div>