<!-- header -->
<header class="header" id="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><img id="navbarImg" src="https://citizenmed.files.wordpress.com/2011/08/user-icon1.jpg" alt="image"/><a href="#/home" class="navbar-brand"><u>Full name</u></a></li>
                <li><a href="#/news"><span class="glyphicon glyphicon-list-alt"></span> News</a></li>
                <li><a href="#/profile/edit"><span class="glyphicon glyphicon-cog"></span> Edit profile</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Friend requests</a></li>
                <li><a href="#/profile/changePassword"><span class="glyphicon glyphicon-lock"></span> Change password</a></li>
                <li ng-controller="AuthenticationController"><a href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            <form class="navbar-right navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                </div>
            </form>
        </div>
    </nav>

    <!-- user header -->
    <div class="image-container">
        <img class="thumbnail" />
    </div>
    <div class="summary-container">
        <h2>Name</h2>
    </div>
    <!-- end of user header -->

</header>
<!-- end of header -->