<!-- header -->
<header class="header" id="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="navbar-collapse collapse">
            <form class="navbar-left navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchForm" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><img id="navbarImg" ng-src="{{userData.profileImageData}}" alt="image"/><a href="#/{{userData.username}}" class="navbar-brand">{{userData.name.split(' ')[0]}}</a></li>
                <li><a href="#/news">Home</a></li>
                <li><a href="#/requests"><span class="glyphicon glyphicon-user"></span><span class="friendRequestsNotification">{{friendRequests.length}}</span></a></li>
                <li><a href="#/profile/edit"><span class="glyphicon glyphicon-cog"></span></a></li>
                <li><a href="#/profile/changePassword"><span class="glyphicon glyphicon-lock"></span></a></li>
                <li ng-controller="AuthenticationController"><a href="#/" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
        </div>
        <img ng-src="{{otherUserData.coverImageData}}" id="coverImage">
    </nav>

    <!-- user header -->
    <div class="image-container">
        <img class="thumbnail" ng-src="{{otherUserData.profileImageData}}"/>
    </div>
    <div class="summary-container">
        <h2>{{otherUserData.name}}</h2>
    </div>
    <!-- end of user header -->

</header>
<!-- end of header -->