<div class="hover-profile-image">
    <img class="thumbnail" ng-src="{{previewData.profileImageData}}" />
</div>
<div class="hover-profile-info">
    <span>{{previewData.name}}</span><br/>
    <span><strong>Gender:</strong> {{previewData.gender | genderFilter}}</span>
    <span><button ng-click="sendFriendRequest(previewData.username)" class="btn btn-info requestButton" ng-if="previewData.username !== username && !previewData.isFriend && !previewData.hasPendingRequest"><strong>Send request</strong></button>
    <button class="btn btn-success requestButton" disabled ng-if="previewData.username !== username && !previewData.isFriend && previewData.hasPendingRequest"><strong>Request sent</strong></button>
    <button class="btn btn-success requestButton" disabled ng-if="previewData.username !== username && previewData.isFriend"><strong>Friend</strong></button></span>
</div>
