<!-- post box -->
<div class="post-container" id="post-container" ng-if="canPost" ng-controller="postController">
    <form class="form-horizontal" id="profilePostForm" ng-submit="addPost()" name="postForm">
        <fieldset>
            <div class="form-group">
                <div>
                    <textarea class="form-control" rows="3" id="post-content" required ng-model="postData.postContent" placeholder="Message..."></textarea>
                </div>
            </div>
            <div class="form-group pull-right">
                <div class="image-container">
                    <img id="navbarImg" ng-src="{{userData.profileImageData}}" alt="image"/>
                </div> as {{userData.name}}
            </div>
            <div class="form-group pull-left">
                <div>
                    <button type="submit" class="btn btn-primary" ng-disabled="postForm.$invalid">Post</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<!-- end of post box -->
<div ng-include="'templates/hover-box.html'" ng-show="profileHover" class="hoverBoxChe"></div>
<div ng-include="'templates/detailed-likes.html'" ng-show="postDetailedLikesClicked"></div>
<div ng-include="'templates/profile-separated-post.html'"></div>