<!-- guest home -->
<div>
    <h1 class="center">Welcome to <strong>SoftUni Social Network</strong></h1>
    <h3 class="center">Please <i>login</i> or <i>register</i> to sign in the app.</h3>
</div>
<div class="row home-buttons-container">
    <div class="col-md-12">
        <div class="center col-lg-6">
            <a href="#/login">
                <button type="button" class="btn btn-lg btn-warning home-btn">Login</button>
            </a>
        </div>
        <div class="center col-lg-6">
            <a href="#/register">
                <button type="button" class="btn btn-lg btn-success home-btn">Register</button>
            </a>
        </div>
    </div>
</div>
<!-- end of guest home -->